In [1]:
# data files path: ./data/

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from feature_extractor import *

In [4]:
dataPath = './data/'

In [5]:
users = pd.read_csv(dataPath + "users.csv")
users.head()

,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,3197468391,id_ID,1993,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0
1,3537982273,id_ID,1992,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0
2,823183725,en_US,1975,male,2012-10-06T03:14:07.149Z,Stratford Ontario,-240.0
3,1872223848,en_US,1991,female,2012-11-04T08:59:43.783Z,Tehran Iran,210.0
4,3429017717,id_ID,1995,female,2012-09-10T16:06:53.132Z,NaN,420.0

In [6]:
# set max display col
# pd.set_option('display.max_colwidth', -1)
# pd.reset_option('display.max_colwidth')
user_friends = pd.read_csv(dataPath + "user_friends.csv")
user_friends.head()

         user                                            friends
0  3197468391  1346449342 3873244116 4226080662 1222907620 54...
1  3537982273  1491560444 395798035 2036380346 899375619 3534...
2   823183725  1484954627 1950387873 1652977611 4185960823 42...
3  1872223848  83361640 723814682 557944478 1724049724 253059...
4  3429017717  4253303705 2130310957 1838389374 3928735761 71...

In [7]:
events = pd.read_csv(dataPath + 'events.csv')
events.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9

In [8]:
train_data = pd.read_csv(dataPath + 'train.csv')
train_data.head()

,user,event,invited,timestamp,interested,not_interested
0,3044012,1918771225,0,2012-10-02 15:53:05.754000+00:00,0,0
1,3044012,1502284248,0,2012-10-02 15:53:05.754000+00:00,0,0
2,3044012,2529072432,0,2012-10-02 15:53:05.754000+00:00,1,0
3,3044012,3072478280,0,2012-10-02 15:53:05.754000+00:00,0,0
4,3044012,1390707377,0,2012-10-02 15:53:05.754000+00:00,0,0

In [9]:
# gender and dob
# check for nulls
# users['birthyear'].isna().values.any()
# 'None' in users['birthyear'].unique()
# train_data['gender'].unique()

#     return merged_df2

train_data = add_gender_age(train_data, users)
train_data = add_location_features(train_data, events, users)
train_data = add_event_creator_friend_timestamp_feature(train_data, events, user_friends)
train_data.head()

,timestamp,interested,not_interested,event,same_city,same_country,user,event_id,creator_id,start_time,is_creator_friend,not_start_diff
0,2012-10-02 15:53:05.754000+00:00,0,0,1918771225,False,False,3044012,1918771225,4106419938,2012-10-03T08:00:00.002Z,False,-58015.0
1,2012-10-02 15:53:05.754000+00:00,0,0,1502284248,False,False,3044012,1502284248,2016654644,2012-10-03T11:00:00.003Z,False,-68815.0
2,2012-10-02 15:53:05.754000+00:00,1,0,2529072432,False,False,3044012,2529072432,3639934255,2012-10-26T13:30:00.003Z,False,-2065015.0
3,2012-10-02 15:53:05.754000+00:00,0,0,3072478280,False,False,3044012,3072478280,97461525,2012-10-06T05:00:00.003Z,False,-306415.0
4,2012-10-02 15:53:05.754000+00:00,0,0,1390707377,False,False,3044012,1390707377,3639934255,2012-10-06T03:00:00.003Z,False,-299215.0

In [10]:
event_attendees_data = pd.read_csv(dataPath + 'event_attendees.csv')
event_attendees_data.head()

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
1,686467261,2394228942 2686116898 1056558062 3792942231 41...,1498184352 645689144 3770076778 331335845 4239...,1788073374 733302094 1830571649 676508092 7081...,NaN
2,1186208412,NaN,3320380166 3810793697,1379121209 440668682,1728988561 2950720854
3,2621578336,NaN,NaN,NaN,NaN
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232

In [11]:
train_data = get_event_attendee_nums(train_data, event_attendees_data)
train_data.head()

,timestamp,interested,not_interested,event,same_city,same_country,user,event_id,creator_id,start_time,is_creator_friend,not_start_diff,yes,maybe,invited,no,f4,f5,f6
0,2012-10-02 15:53:05.754000+00:00,0,0,1918771225,False,False,3044012,1918771225,4106419938,2012-10-03T08:00:00.002Z,False,-58015.0,83.0,20.0,249.0,269.0,3.240964,0.240964,3.000000
1,2012-10-01 05:08:48.533000+00:00,0,0,1918771225,False,False,1906220044,1918771225,4106419938,2012-10-03T08:00:00.002Z,False,-183072.0,83.0,20.0,249.0,269.0,3.240964,0.240964,3.000000
2,2012-10-02 15:53:05.754000+00:00,0,0,1502284248,False,False,3044012,1502284248,2016654644,2012-10-03T11:00:00.003Z,False,-68815.0,106.0,63.0,1312.0,21.0,0.198113,0.594340,12.377358
3,2012-09-30 13:31:33.569000+00:00,0,0,1502284248,False,True,1302145719,1502284248,2016654644,2012-10-03T11:00:00.003Z,False,-250107.0,106.0,63.0,1312.0,21.0,0.198113,0.594340,12.377358
4,2012-10-01 17:20:14.536000+00:00,0,0,1502284248,False,True,3194014105,1502284248,2016654644,2012-10-03T11:00:00.003Z,False,-149986.0,106.0,63.0,1312.0,21.0,0.198113,0.594340,12.377358

In [12]:
test_merge_df = pd.merge(train_data, user_friends, how='inner', left_on='user', right_on='user')
test_merge_df.head()

,timestamp,interested,not_interested,event,same_city,same_country,user,event_id,creator_id,start_time,is_creator_friend,not_start_diff,yes,maybe,invited,no,f4,f5,f6,friends
0,2012-10-02 15:53:05.754000+00:00,0,0,1918771225,False,False,3044012,1918771225,4106419938,2012-10-03T08:00:00.002Z,False,-58015.0,83.0,20.0,249.0,269.0,3.240964,0.240964,3.000000,1259016464 1826316229 2628936374 3471548202 70...
1,2012-10-02 15:53:05.754000+00:00,0,0,1502284248,False,False,3044012,1502284248,2016654644,2012-10-03T11:00:00.003Z,False,-68815.0,106.0,63.0,1312.0,21.0,0.198113,0.594340,12.377358,1259016464 1826316229 2628936374 3471548202 70...
2,2012-10-02 15:53:05.754000+00:00,1,0,2529072432,False,False,3044012,2529072432,3639934255,2012-10-26T13:30:00.003Z,False,-2065015.0,2278.0,1648.0,41337.0,1476.0,0.647937,0.723442,18.146181,1259016464 1826316229 2628936374 3471548202 70...
3,2012-10-02 15:53:05.754000+00:00,0,0,3072478280,False,False,3044012,3072478280,97461525,2012-10-06T05:00:00.003Z,False,-306415.0,85.0,64.0,94.0,NaN,NaN,0.752941,1.105882,1259016464 1826316229 2628936374 3471548202 70...
4,2012-10-02 15:53:05.754000+00:00,0,0,1390707377,False,False,3044012,1390707377,3639934255,2012-10-06T03:00:00.003Z,False,-299215.0,886.0,700.0,41020.0,590.0,0.665914,0.790068,46.297968,1259016464 1826316229 2628936374 3471548202 70...