In [ ]:
# data files path: ./data/

In [15]:
%load_ext autoreload
%autoreload 2

In [24]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from feature_extractor import *

In [6]:
dataPath = './data/'

In [39]:
users = pd.read_csv(dataPath + "users.csv")
users.head()

,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,3197468391,id_ID,1993,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0
1,3537982273,id_ID,1992,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0
2,823183725,en_US,1975,male,2012-10-06T03:14:07.149Z,Stratford Ontario,-240.0
3,1872223848,en_US,1991,female,2012-11-04T08:59:43.783Z,Tehran Iran,210.0
4,3429017717,id_ID,1995,female,2012-09-10T16:06:53.132Z,NaN,420.0

In [12]:
# set max display col
# pd.set_option('display.max_colwidth', -1)
# pd.reset_option('display.max_colwidth')
user_friends = pd.read_csv(dataPath + "user_friends.csv")
user_friends.head()

         user                                            friends
0  3197468391  1346449342 3873244116 4226080662 1222907620 54...
1  3537982273  1491560444 395798035 2036380346 899375619 3534...
2   823183725  1484954627 1950387873 1652977611 4185960823 42...
3  1872223848  83361640 723814682 557944478 1724049724 253059...
4  3429017717  4253303705 2130310957 1838389374 3928735761 71...

In [16]:
events = pd.read_csv(dataPath + 'events.csv')
events.head(100)

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
5,1212611096,1426522332,2012-11-16T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,22
6,3689283674,725266702,2012-11-02T20:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,28
7,2584113432,613687941,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,2,0,0,0,0,0,0,0,0,354
8,3365728297,1098509207,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,47.058,21.926,0,...,0,0,0,0,0,0,0,1,0,25
9,2912638473,3598071768,2012-10-18T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,3
10,1609864127,4252244266,2012-11-06T22:40:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,38
11,1304227508,4083498051,2012-08-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
12,2608543989,711497121,2012-11-12T17:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,36
13,298169907,1020819241,2012-12-01T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,1,0,0,1,15
14,2953099360,881617516,2012-08-26T17:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,1,0,0,0,0,0,0,120
15,615449287,3832426265,2012-08-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
16,1922719636,4185999054,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,1,0,0,0,0,0,0,7
17,1261820355,1240515743,2012-11-08T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,0,0,0,0,0,8
18,2773204108,1999363021,2012-11-16T20:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,90
19,2285783902,44098316,2012-09-28T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
20,1873976153,1918590410,2012-09-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,0,0,0,0,0,17
21,1820269907,1768539776,2012-10-23T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,0,0,0,0,0,0,0,0,7
22,1929622843,4235478695,2012-11-08T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
23,2312158323,3324266513,2012-10-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
24,1091130052,3686526729,2012-10-04T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
25,1888241344,4120508790,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,4
26,3436633625,3214543653,2012-09-27T02:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,28
27,1511862915,813883609,2012-11-04T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
28,3980763324,375876914,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,10
29,2259674237,1065410499,2012-09-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,732997628,4260229419,2012-11-01T16:30:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,203
71,4216192606,375876914,2012-10-29T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,9
72,2569196977,915567472,2012-11-13T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,4
73,2313587840,3677512893,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,1,0,0,0,0,0,0,0,8
74,920600431,1819026847,2012-07-29T19:00:00.000Z,Karachi,NaN,NaN,Pakistan,24.893,67.028,5,...,0,0,0,0,1,0,0,0,0,103
75,2821117540,2725058216,2012-12-01T23:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,20
76,3212079634,829861497,2012-10-04T00:30:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,10
77,4145665238,2092586885,2012-07-11T02:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,6,...,1,0,0,0,0,0,0,0,1,40
78,754216076,3395965531,2012-10-28T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,1,0,0,0,0,0,0,8
79,1555919109,3692226187,2012-11-12T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,1,0,40
80,524691289,1206071154,2012-11-09T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,5
81,3618436742,3852181952,2012-10-02T17:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,53
82,4055349094,2109081461,2012-10-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,8
83,3657281130,2681589650,2012-09-15T17:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,165
84,3406775761,2173535301,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,0,0,0,0,0,6
85,1107859556,3230808317,2012-10-08T18:10:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,5
86,183285682,902162282,2012-09-24T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,1,0,0,0,35
87,2042697619,854084454,2012-08-27T22:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,5,...,0,0,0,0,0,0,0,0,0,21
88,1769821149,4038178742,2012-10-29T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,1,0,0,0,0,0,0,9
89,3323980704,4185999054,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
90,2915353594,923044431,2012-11-05T17:10:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,33
91,2508555495,4219060195,2012-10-26T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,0,0,0,0,0,0,0,0,11
92,3349548561,436820041,2012-10-29T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,57
93,1801869689,2152760920,2012-11-01T02:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,59
94,2922265580,1540268976,2012-10-04T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
95,2860184053,2649231959,2012-11-07T18:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,4,...,0,0,0,0,0,0,0,0,0,106
96,2428635671,2080183227,2012-11-06T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,1,0,0,0,0,0,0,0,5
97,2636581520,2597689396,2012-10-26T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,0,0,0,0,0,0,0,0,11
98,2305935776,1815300560,2012-10-29T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,1,0,0,0,0,0,0,8
99,1660818988,3669637287,2012-07-11T02:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,22

In [63]:
train_data = pd.read_csv(dataPath + 'train.csv')
train_data.head()

,user,event,invited,timestamp,interested,not_interested
0,3044012,1918771225,0,2012-10-02 15:53:05.754000+00:00,0,0
1,3044012,1502284248,0,2012-10-02 15:53:05.754000+00:00,0,0
2,3044012,2529072432,0,2012-10-02 15:53:05.754000+00:00,1,0
3,3044012,3072478280,0,2012-10-02 15:53:05.754000+00:00,0,0
4,3044012,1390707377,0,2012-10-02 15:53:05.754000+00:00,0,0

In [64]:
# gender and dob
# check for nulls
# users['birthyear'].isna().values.any()
# 'None' in users['birthyear'].unique()
# train_data['gender'].unique()

train_data = add_gender_age(train_data, users)
train_data = add_location_features(train_data, events, users)
train_data = add_event_creator_friend_feature(train_data, events, user_friends)
train_data.head()

,user,event,invited,timestamp,interested,not_interested,user_id,age,gender
0,3044012,1918771225,0,2012-10-02 15:53:05.754000+00:00,0,0,3044012,30,male
1,3044012,1502284248,0,2012-10-02 15:53:05.754000+00:00,0,0,3044012,30,male
2,3044012,2529072432,0,2012-10-02 15:53:05.754000+00:00,1,0,3044012,30,male
3,3044012,3072478280,0,2012-10-02 15:53:05.754000+00:00,0,0,3044012,30,male
4,3044012,1390707377,0,2012-10-02 15:53:05.754000+00:00,0,0,3044012,30,male